@charset "utf-8";
/* CSS Document */

*{--font-title:SBAggroM; /*어그로체*/}

/* apply 공통 */
.apply{min-height:calc(100vh - 400px); padding:40px 0 150px; box-sizing:border-box;}
.apply h1{width:100%; border-bottom:3px solid #0074dd; box-sizing:border-box; font-family:var(--font-title); font-size:25px; line-height:48px; color:#0074dd; margin-bottom:45px;}
.apply .announcement{width:100%; border:1px solid #c7c6c6; border-radius:10px; box-sizing:border-box; background:#f8f8f8; padding:18px 20px; font-family:sandoll-gothicneo3, sans-serif; font-size:23px; line-height:1.4; color:#0074dd; letter-spacing:-1px; margin-bottom:45px;}
.apply .schedule{width:100%; border:1px solid #c7c6c6; border-radius:10px; box-sizing:border-box; background:#f8f8f8 url('../img/apply/element_apply.png') no-repeat left 12px center / 71px; padding:18px 20px 18px 100px; font-family:sandoll-gothicneo3, sans-serif; font-size:25px; line-height:1.4; color:#000; letter-spacing:-1px; margin-bottom:60px;}
.apply .schedule span{font-size:23px; margin-top:12px; margin-right:26px;}
.apply .schedule span strong{color:#ff334c; margin-right:16px;}
.apply h2{height:24px; font-family:sandoll-gothicneo3, sans-serif; color:#000; font-weight:bold; font-size:24px; line-height:24px; margin-bottom:40px;}
.apply h2::before{content:''; width:7px; height:100%; display:inline-block; margin-right:8px; background:linear-gradient(#6a7bc3, #00c9ee 26%, #82d103 55%, #ff970a 81%, #ffe200); vertical-align:middle; letter-spacing:-1px;}
.apply .btn_apply{width:200px; height:50px; display:block; font-family:sandoll-gothicneo3, sans-serif; font-size:23px; background:#0074dd; color:#fff; line-height:50px; text-align:center; margin:0 auto; transition:0.6s;}
.apply .btn_apply:hover{opacity:0.8;}
.apply .guide{font-size:19px; line-height:35px; padding:20px 0 20px 20px; box-sizing:border-box; border:1px solid #c7c6c6; border-radius:10px; background:#f8f8f8; color:#58585b; font-family:sandoll-gothicneo3, sans-serif; margin-bottom:25px; letter-spacing:-1px;}
.apply .guide:last-of-type{margin-bottom:0;}
.apply .guide p{display:inline;}
.apply .guide .red{color:#ff334c; text-decoration:underline;}
.apply .guide .blue{color:#0074dd;}

/* apply 리스트 */
.apply.list table{width:100%; border-top:2px solid #58585b; box-sizing:border-box; font-family:sandoll-gothicneo3, sans-serif;}
.apply.list table th,.apply.list table td{border-bottom:1px solid #c7c6c6; box-sizing:border-box;}
.apply.list table th{color:#58585b; font-size:23px; padding:21px 0; border-right:2px solid #e1e1e1; box-sizing:border-box; letter-spacing:-0.5px; background:#f8f8f8;}
.apply.list table td{color:#000; font-size:22px; line-height:35px; text-align:left; letter-spacing:-1px; padding:15px 0 15px 18px; box-sizing:border-box;}
.apply.list table td .btn_apply{display:inline-block; background:#0074dd; color:#fff; font-size:21px; padding:0 7px; border-radius:5px; box-sizing:border-box;}
.apply.list table td .btn_apply:hover{opacity:0.8;}

/* 1단계 */
.apply.first{}
.apply.first table{width:100%; border-top:3px solid #0074dd; box-sizing:border-box; font-family:sandoll-gothicneo3, sans-serif; margin-bottom:70px;}
.apply.first table th,.apply.first table td{padding:28px 0; border-bottom:1px solid #c7c6c6; box-sizing:border-box;}
.apply.first table th{text-align:left; font-size:23px; color:#0074dd; font-weight:600; letter-spacing:-0.5px;}
.apply.first table td{font-size:23px; color:#000;}
.apply.first table td p{font-size:20px; color:#58585b; line-height:2; margin-bottom:25px;}
.apply.first table td p.mb0{margin-bottom:0;}
.apply.first table td p strong{color:#ff334c;}
.apply.first table td select{width:206px; height:50px; border:1px solid #c7c6c6; box-sizing:border-box; margin-right:9px; font-family:sandoll-gothicneo3, sans-serif; font-size:23px; color:#58585b; letter-spacing:-0.5px; text-indent:12px;}
.apply.first table td input{height:50px; border:1px solid #c7c6c6; box-sizing:border-box; margin-right:9px; font-family:sandoll-gothicneo3, sans-serif; font-size:23px; color:#58585b; letter-spacing:-0.5px; text-indent:12px;}
.apply.first table td input[type="tel"]{width:206px;}
.apply.first table td input[type="email"]{width:794px;}
.apply.first table td input[type="text"]{width:639px;}
.apply.first table td input[type="checkbox"]{width:20px; height:20px;}
.apply.first table td label{font-size:23px; color:#58585b; letter-spacing:-0.5px;}

/* 2단계 */
.apply.second{}
.apply.second table{width:100%; border-top:2px solid #58585b; box-sizing:border-box; margin-bottom:100px;}
.apply.second table th,.apply.second table td{font-family:sandoll-gothicneo3, sans-serif; border-bottom:1px solid #c7c6c6; border-right:1px solid #c7c6c6; box-sizing:border-box; font-size:22px; letter-spacing:-1px;}
.apply.second table th:last-child,.apply.second table td:last-child{border-right:0;}
.apply.second table th{padding:20px 0; box-sizing:border-box; color:#58585b; background:#f8f8f8;}
.apply.second table td{padding:20px 0; color:#000;}
.apply.second table td.red{padding-left:10px; box-sizing:border-box; color:#ff334c;}
.apply.second table td input[type="checkbox"]{width:27px; height:27px;}
.apply.second table:nth-of-type(2){margin-bottom:75px;}
.apply.second table:nth-of-type(2) td{text-align:center;}
.apply.second label{font-family:sandoll-gothicneo3, sans-serif; font-size:23px; color:#000; letter-spacing:-0.5px; display:block; text-align:center; margin:0 auto 65px;}
.apply.second input[type="checkbox"]{width:27px; height:27px; vertical-align:middle;}

/* 3단계 */
.apply.third{}
.apply.third .announcement{width:100%; border:1px solid #c7c6c6; border-radius:10px; box-sizing:border-box; background:#f8f8f8; padding:18px 20px; font-family:sandoll-gothicneo3, sans-serif; font-size:23px; line-height:1.4; color:#0074dd; letter-spacing:-1px; margin-bottom:45px;}
.apply.third .announcement span{font-size:23px;}
.apply.third h2{clear:both;}
.apply.third table{width:100%; border-top:3px solid #0074dd; box-sizing:border-box; font-family:sandoll-gothicneo3, sans-serif; margin-bottom:20px/*70px*/;}
.apply.third table:first-of-type{margin-bottom:18px;}
.apply.third table th,.apply.third table td{padding:28px 0; border-bottom:1px solid #c7c6c6; box-sizing:border-box;}
.apply.third table:nth-of-type(2) th,.apply.third table:nth-of-type(2) td{padding:15px 0;}
.apply.third table th{text-align:left; font-size:23px; color:#0074dd; font-weight:600; letter-spacing:-0.5px;}
.apply.third table td{font-size:23px; color:#000; padding-left:22px;}
.apply.third table td select{width:492px; height:50px; border:1px solid #c7c6c6; box-sizing:border-box; margin-right:16px; font-family:sandoll-gothicneo3, sans-serif; font-size:23px; color:#58585b; letter-spacing:-0.5px; text-indent:12px;}
.apply.third table td input{width:492px; height:50px; border:1px solid #c7c6c6; box-sizing:border-box; margin-right:9px; font-family:sandoll-gothicneo3, sans-serif; font-size:23px; color:#58585b; letter-spacing:-0.5px; text-indent:12px;}
.apply.third table td span{font-size:20px; color:#58585b;}
.apply.third .btn_change{height:50px; line-height:50px; display:inline-block; border:1px solid #c7c6c6; font-family:sandoll-gothicneo3, sans-serif; font-size:23px; border-radius:5px; background:#f8f8f8; padding:0 12px; box-sizing:border-box; color:#58585b; float:right; margin-bottom:95px; transition:0.6s;}
.apply.third .btn_change:hover{background:#c7c6c6;}
.apply.third .guide{margin-bottom:70px;}

/* 4단계 */
.apply.fourth{}
.apply.fourth .announcement{margin-bottom:38px;}
.apply.fourth h4{font-family:sandoll-gothicneo3, sans-serif; font-size:23px; color:#0074dd; text-align:left; display:inline-block;}
.apply.fourth .areaInfo{width:100%; border-top:3px solid #0074dd; box-sizing:border-box; font-family:sandoll-gothicneo3, sans-serif; font-size:0; padding:15px 0 15px;}
.apply.fourth .areaInfo p{font-size:23px; color:#58585b; text-align:center; display:inline-block;}
.apply.fourth .areaInfo h4{width:20.5%;}
.apply.fourth .areaInfo .location select{width:445px; height:50px; border:1px solid #c7c6c6; box-sizing:border-box; margin-right:10px; font-family:sandoll-gothicneo3, sans-serif; font-size:23px; color:#58585b; letter-spacing:-0.5px; text-indent:12px; border-radius:5px; background:url('../img/common/icon_select.png') no-repeat right 14px center / 16px; -webkit-appearance:none; -moz-appearance:none; appearance:none;}
.apply.fourth .areaInfo .btn_serch{width:110px; height:50px; line-height:50px; border:1px solid #c7c6c6; border-radius:5px; box-sizing:border-box; background:#f8f8f8; display:inline-block; color:#58585b; transition:0.6s;}
.apply.fourth .areaInfo .btn_serch:hover{background:#c7c6c6;}
.apply.fourth .objInfo{width:100%; border-top:1px solid #c7c6c6; box-sizing:border-box; font-size:0; padding:25px 0 30px;}
.apply.fourth table{width:100%; border-top:2px solid #58585b; box-sizing:border-box; font-family:sandoll-gothicneo3, sans-serif; font-size:23px;}
.apply.fourth table.areaTable{margin-bottom:40px;}
.apply.fourth table.objTable{margin-bottom:70px;}
.apply.fourth table th,.apply.fourth table td{padding:18px 0; box-sizing:border-box; border-bottom:1px solid #c7c6c6; border-right:1px solid #c7c6c6;}
.apply.fourth table th:last-child,.apply.fourth table td:last-child{border-right:0;}
.apply.fourth table th{background:#f8f8f8; color:#58585b;}
.apply.fourth table td{text-align:center; color:#000; letter-spacing:-1px;}
.apply.fourth table td .btn_map{width:90px; height:34px; line-height:34px; border:1px solid #c7c6c6; border-radius:5px; font-size:21px; box-sizing:border-box; background:#f8f8f8; display:inline-block; color:#000; transition:0.6s;}
.apply.fourth table td .btn_map:hover{background:#c7c6c6;}
.apply.fourth table td input[type="checkbox"]{width:27px; height:27px;}

/* 5단계 */
.apply.fifth{}
.apply.fifth .announcement{width:100%; border:1px solid #c7c6c6; border-radius:10px; box-sizing:border-box; background:#f8f8f8; padding:18px 20px; font-family:sandoll-gothicneo3, sans-serif; font-size:23px; line-height:1.4; color:#0074dd; letter-spacing:-1px; margin-bottom:45px;}
.apply.fifth .announcement span{font-size:23px;}
.apply.fifth h2{clear:both;}
.apply.fifth table{width:100%; border-top:3px solid #0074dd; box-sizing:border-box; font-family:sandoll-gothicneo3, sans-serif; margin-bottom:70px;}
.apply.fifth table:first-of-type{margin-bottom:18px;}
.apply.fifth table th,.apply.fifth table td{padding:28px 0; border-bottom:1px solid #c7c6c6; box-sizing:border-box;}
.apply.fifth table:nth-of-type(2) th,.apply.fifth table:nth-of-type(2) td{padding:15px 0;}
.apply.fifth table th{text-align:left; font-size:23px; color:#0074dd; font-weight:600; letter-spacing:-0.5px;}
.apply.fifth table td{font-size:23px; color:#000; padding-left:22px;}
.apply.fifth table td select{width:492px; height:50px; border:1px solid #c7c6c6; box-sizing:border-box; margin-right:16px; font-family:sandoll-gothicneo3, sans-serif; font-size:23px; color:#58585b; letter-spacing:-0.5px; text-indent:12px;}
.apply.fifth table td input{height:50px; border:1px solid #c7c6c6; box-sizing:border-box; margin-right:9px; font-family:sandoll-gothicneo3, sans-serif; font-size:23px; color:#58585b; letter-spacing:-0.5px; text-indent:12px;}
.apply.fifth table td input[type="radio"]{width:18px; height:18px; margin-top:0;}
.apply.fifth table td label{font-size:23px; color:#000; letter-spacing:-0.5px; margin-right:32px;}

/* 6단계 */
.apply.sixth{}
.apply.sixth .doneBox{width:100%; border:1px solid #c7c6c6; border-top:3px solid #0074dd; padding:60px 0; box-sizing:border-box; text-align:center; font-family:sandoll-gothicneo3, sans-serif; font-size:25px; line-height:40px; color:#58585b;}
.apply.sixth .doneBox p{margin:0 0 38px 0;}

/* 접수정보 */
.apply.accept{}
.apply.accept .announcement{margin-bottom:58px;}
.apply.accept table{width:100%; border-top:2px solid #58585b; box-sizing:border-box; margin-bottom:30px;}
.apply.accept table th,.apply.accept table td{font-family:sandoll-gothicneo3, sans-serif; border-bottom:1px solid #c7c6c6; border-right:1px solid #c7c6c6; box-sizing:border-box; font-size:23px;}
.apply.accept table th:last-child,.apply.accept table td:last-child{border-right:0;}
.apply.accept table th{padding:20px 0; box-sizing:border-box; color:#58585b; background:#f8f8f8; font-weight:600;}
.apply.accept table td{padding:20px 0; color:#000; text-align:center;}
.apply.accept table.none td{text-align:left; padding-left:40px; box-sizing:border-box; background:url('../img/apply/icon_report.png') no-repeat left center / 31px;}
.apply.accept table td .btn_apply{width:115px; height:35px; line-height:35px; border-radius:5px; font-size:21px; letter-spacing:-0.5px;}
.apply.accept .pageCnt{font-family:sandoll-gothicneo3, sans-serif; font-size:17px; letter-spacing:-0.7px; color:#58585b; text-align:right;}

/* 접수정보 자세히보기 */
.apply.accept_view .announcement{margin-bottom:58px;}
.apply.accept_view table{width:100%; border-top:3px solid #0074dd; box-sizing:border-box; font-family:sandoll-gothicneo3, sans-serif; margin-bottom:70px;}
.apply.accept_view table th,.apply.accept_view table td{padding:28px 0; border-bottom:1px solid #c7c6c6; box-sizing:border-box;}
.apply.accept_view table th{text-align:left; font-size:23px; color:#0074dd; font-weight:600; letter-spacing:-0.5px; border-right:1px solid #c7c6c6;}
.apply.accept_view table td{font-size:23px; color:#000; padding-left:22px;}
.apply.accept_view table td input{height:50px; border:1px solid #c7c6c6; box-sizing:border-box; margin-right:9px; font-family:sandoll-gothicneo3, sans-serif; font-size:23px; color:#58585b; letter-spacing:-0.5px; text-indent:12px;}
.apply.accept_view table td input[type="tel"]{width:206px;}
.apply.accept_view table td input[type="email"]{width:794px;}
.apply.accept_view table td input[type="text"]{width:639px;}
.apply.accept_view table td input[type="radio"]{width:20px; height:20px;}
.apply.accept_view table td label{font-size:23px; color:#58585b; letter-spacing:-0.5px;}
.apply.accept_view table td .btn_apply{margin:0; background:#0074dd; color:#fff; font-size:21px; padding:0 7px; border-radius:5px; box-sizing:border-box;}
.apply.accept_view table td .btn_apply:hover{opacity:0.8;}

.apply.accept_view .btnWrap{font-size:0; text-align:center;}
.apply.accept_view .btnWrap .btn_apply{display:inline-block; margin:0 25px;}
.apply.accept_view .btnWrap .btn_apply#btn_print{display:inline-block; margin:0 25px;}

/* 취소완료 */
.apply.cancel .completion{width:100%; border:1px solid #c7c6c6; padding:60px 0 57px; box-sizing:border-box; font-family:sandoll-gothicneo3, sans-serif; font-size:26px; color:#58585b; letter-spacing:-0.5px; text-align:center; font-weight:bold;}

/* 수험표 */
.ticket{width:1000px; border:1px solid #707070; padding:17px 30px 30px; box-sizing:border-box; margin:0 auto;}
.ticket h1{width:100%; font-family:var(--font-title); font-size:25px; line-height:47px; border-bottom:3px solid #58585b; padding-right:25px; margin-bottom:30px; box-sizing:border-box; color:#000; overflow:hidden;}
.ticket h1 span{float:right; font-size:20px;}
.ticket table{width:100%; border-top:2px solid #58585b; box-sizing:border-box; margin-bottom:25px;}
.ticket table th,.ticket table td{font-family:sandoll-gothicneo3, sans-serif; font-size:16px; line-height:38px; border-bottom:1px solid #cdcccc; box-sizing:border-box;}
.ticket table th{background:#f8f8f8; border-right:1px solid #cdcccc;}
.ticket table td{padding-left:16px;}
.ticket h2{height:20px; border-left:7px solid #58585b; padding-left:15px; margin-bottom:15px; box-sizing:border-box; font-family:sandoll-gothicneo3, sans-serif; font-size:20px; line-height:20px; color:#000; letter-spacing:-0.5px;}
.ticket h2 p{float:right; max-width:100%; overflow:hidden; text-overflow:ellipsis; display:-webkit-box; -webkit-line-clamp:1; -webkit-box-orient:vertical; letter-spacing:-0.5px;}
.ticket .content{border:1px solid #c7c6c6; box-sizing:border-box; margin-bottom:25px;}
.ticket .content ul{padding:12px; box-sizing:border-box;}
.ticket .content ul li{clear:both; line-height:23px; margin-bottom:3px;}
.ticket .content ul li p{display:table-cell; vertical-align:middle; font-family:sandoll-gothicneo3, sans-serif; font-size:17px; color:#000;}
.ticket .content ul li span{width:18px; height:18px; line-height:20px; margin-top:5px; display:table-cell; border-radius:50%; background:#58585b; font-family:sandoll-gothicneo3, sans-serif; font-size:13px; margin-right:4px; color:#fff; text-align:center; float:left;}
.ticket .content .mapImg{max-width:100%; max-height:348px;}
.btn_apply#btn_print{width:200px; height:50px; display:block; font-family:sandoll-gothicneo3, sans-serif; font-size:23px; background:#0074dd; color:#fff; line-height:50px; text-align:center; margin:0 auto; transition:0.6s; margin:30px auto 30px;}
.btn_apply#btn_print:hover{opacity:0.8;}

/* popup */
.alertPop{width:600px; background:#fff; position:fixed; top:50%; left:50%; transform:translate(-50%, -50%); box-shadow:10px 10px 30px rgba(0,0,0,0.2); display:none;}
.alertPop a.btn_close{width:36px; height:36px; display:block; background:#0074dd url('../img/member/icon_close.png') no-repeat center / 18px; position:absolute; top:0; right:0;}
.alertPop p.text{padding:70px; font-family:sandoll-gothicneo3, sans-serif; font-size:25px; line-height:39px; color:#58585b; text-align:center; margin:0;}

@media (max-width:768px){
  /* apply 공통 */
  .apply{min-height:calc(100vh - 73.816vw); padding:3.6vw 0 13.5vw;}
  .apply h1{border-bottom:0.27vw solid #0074dd; font-size:2.25vw; line-height:4.32vw; margin-bottom:4.05vw;}
  .apply .announcement{border-radius:0.9vw; padding:1.62vw 1.8vw; font-size:2.07vw; margin-bottom:4.05vw;}
  .apply .announcement span{margin-top:1.08vw;}
  .apply .schedule{border-radius:0.9vw; background:#f8f8f8 url('../img/apply/element_apply.png') no-repeat left 1.08vw center / 6.39vw; padding:1.62vw 1.8vw 1.62vw 9vw; font-size:2.25vw; margin-bottom:5.4vw;}
  .apply .schedule span{font-size:2.07vw; margin-top:1.08vw; margin-right:2.34vw;}
  .apply .schedule span strong{margin-right:1.44vw;}
  .apply h2{height:2.16vw; font-size:2.16vw; line-height:2.16vw; margin-bottom:3.6vw;}
  .apply h2::before{width:0.63vw; margin-right:0.72vw;}
  .apply .btn_apply{width:18vw; height:4.5vw; font-size:2.07vw; line-height:4.5vw;}
  .apply .guide{font-size:1.71vw; line-height:3.15vw; padding:1.8vw 0 20px 1.8vw; border-radius:0.9vw; margin-bottom:2.25vw;}

  /* apply 리스트 */
  .apply.list table{border-top:0.18vw solid #58585b;}
  .apply.list table th{font-size:2.07vw; padding:1.89vw 0; border-right:0.18vw solid #e1e1e1;}
  .apply.list table td{font-size:1.98vw; line-height:3.15vw; padding:1.35vw 0 1.35vw 1.62vw;}
  .apply.list table td .btn_apply{font-size:1.89vw; padding:0 0.63vw; border-radius:0.45vw;}
  .apply.list select#exam100{width:44.28vw; height:4.5vw; font-size:2.07vw; text-indent:1.08vw;}
  .apply.list select.exam100{width:44.28vw; height:4.5vw; font-size:2.07vw; text-indent:1.08vw;}

  /* 1단계 */
  .apply.first table{border-top:0.27vw solid #0074dd; margin-bottom:6.3vw;}
  .apply.first table th,.apply.first table td{padding:2.52vw 0;}
  .apply.first table th{font-size:2.07vw;}
  .apply.first table td{font-size:2.07vw;}
  .apply.first table td p{font-size:1.8vw; margin-bottom:2.25vw;}
  .apply.first table td select{width:18.54vw; height:4.5vw; margin-right:0.81vw; font-size:2.07vw; text-indent:1.08vw;}
  .apply.first table td input{height:4.5vw; margin-right:0.81vw; font-size:2.07vw; text-indent:1.08vw;}
  .apply.first table td input[type="tel"]{width:18.54vw;}
  .apply.first table td input[type="email"]{width:71.46vw;}
  .apply.first table td input[type="text"]{width:57.51vw;}
  .apply.first table td input[type="checkbox"]{width:1.8vw; height:1.8vw;}
  .apply.first table td label{font-size:2.07vw;}

  /* 2단계 */
  .apply.second table{border-top:0.18vw solid #58585b; margin-bottom:9vw;}
  .apply.second table th,.apply.second table td{font-size:2.07vw;}
  .apply.second table th{padding:1.8vw 0;}
  .apply.second table td{padding:1.8vw 0;}
  .apply.second table td.red{padding-left:0.9vw;}
  .apply.second table td input[type="checkbox"]{width:2.43vw; height:2.43vw;}
  .apply.second label{font-size:2.07vw; margin:0 auto 5.85vw;}
  .apply.second input[type="checkbox"]{width:2.43vw; height:2.43vw;}

  /* 3단계 */
  .apply.third .announcement{border-radius:0.9vw; padding:1.62vw 1.8vw; font-size:2.07vw; margin-bottom:4.05vw;}
  .apply.third .announcement span{font-size:2.07vw;}
  .apply.third table{border-top:0.27vw solid #0074dd; margin-bottom:1.8vw/*6.3vw*/;}
  .apply.third table:first-of-type{margin-bottom:1.62vw;}
  .apply.third table th,.apply.third table td{padding:2.52vw 0;}
  .apply.third table:nth-of-type(2) th,.apply.third table:nth-of-type(2) td{padding:1.35vw 0;}
  .apply.third table th{font-size:2.07vw;}
  .apply.third table td{font-size:2.07vw; padding-left:1.98vw;}
  .apply.third table td select{width:44.28vw; height:4.5vw; margin-right:1.44vw; font-size:2.07vw; text-indent:1.08vw;}
  .apply.third table td input{width:44.28vw; height:4.5vw; margin-right:0.81vw; font-size:2.07vw; text-indent:1.08vw;}
  .apply.third table td span{font-size:1.8vw;}
  .apply.third .btn_change{height:4.5vw; line-height:4.5vw; font-size:2.07vw; border-radius:0.45vw; padding:0 1.08vw; margin-bottom:8.55vw;}
  .apply.third .guide{margin-bottom:6.3vw;}

  /* 4단계 */
  .apply.fourth .announcement{margin-bottom:3.42vw;}
  .apply.fourth h4{font-size:2.07vw;}
  .apply.fourth .areaInfo{border-top:0.27vw solid #0074dd; padding:1.35vw 0 1.35vw;}
  .apply.fourth .areaInfo p{font-size:2.07vw;}
  .apply.fourth .areaInfo .location select{width:40.05vw; height:4.5vw; margin-right:0.9vw; font-size:2.07vw; text-indent:1.08vw; border-radius:0.45vw; background:url('../img/common/icon_select.png') no-repeat right 1.26vw center / 1.44vw;}
  .apply.fourth .areaInfo .btn_serch{width:9.9vw; height:4.5vw; line-height:4.5vw; border-radius:0.45vw;}
  .apply.fourth .objInfo{padding:2.25vw 0 2.7vw;}
  .apply.fourth table{border-top:0.18vw solid #58585b; font-size:2.07vw;}
  .apply.fourth table.areaTable{margin-bottom:3.6vw;}
  .apply.fourth table.objTable{margin-bottom:6.3vw;}
  .apply.fourth table th,.apply.fourth table td{padding:1.62vw 0;}
  .apply.fourth table td .btn_map{width:8.1vw; height:3.06vw; line-height:3.06vw; border-radius:0.45vw; font-size:1.89vw;}
  .apply.fourth table td input[type="checkbox"]{width:2.43vw; height:2.43vw;}

  /* 5단계 */
  .apply.fifth .announcement{border-radius:0.9vw; padding:1.62vw 1.8vw; font-size:2.07vw; margin-bottom:4.05vw;}
  .apply.fifth .announcement span{font-size:2.07vw;}
  .apply.fifth table{border-top:0.27vw solid #0074dd; margin-bottom:6.3vw;}
  .apply.fifth table:first-of-type{margin-bottom:1.62vw;}
  .apply.fifth table th,.apply.fifth table td{padding:2.52vw 0;}
  .apply.fifth table:nth-of-type(2) th,.apply.fifth table:nth-of-type(2) td{padding:1.35vw 0;}
  .apply.fifth table th{font-size:2.07vw;}
  .apply.fifth table td{font-size:2.07vw; padding-left:1.98vw;}
  .apply.fifth table td select{width:44.28vw; height:4.5vw; margin-right:1.44vw; font-size:2.07vw; text-indent:1.08vw;}
  .apply.fifth table td input{height:4.5vw; margin-right:0.81vw; font-size:2.07vw; text-indent:1.08vw;}
  .apply.fifth table td input[type="radio"]{width:1.62vw; height:1.62vw;}
  .apply.fifth table td label{font-size:2.07vw; margin-right:2.88vw;}

  /* 6단계 */
  .apply.sixth .doneBox{border-top:0.27vw solid #0074dd; padding:5.4vw 0; font-size:2.25vw; line-height:3.6vw;}
  .apply.sixth .doneBox p{margin:0 0 3.42vw 0;}

  /* 접수정보 */
  .apply.accept .announcement{margin-bottom:5.22vw;}
  .apply.accept table{border-top:0.18vw solid #58585b; margin-bottom:2.7vw;}
  .apply.accept table th,.apply.accept table td{font-size:2.07vw;}
  .apply.accept table th{padding:1.8vw 0;}
  .apply.accept table td{padding:1.8vw 0;}
  .apply.accept table.none td{padding-left:3.6vw; background:url('../img/apply/icon_report.png') no-repeat left center / 2.79vw;}
  .apply.accept table td .btn_apply{width:10.35vw; height:3.15vw; line-height:3.15vw; border-radius:0.45vw; font-size:1.89vw;}
  .apply.accept .pageCnt{font-size:1.53vw;}

  /* 접수정보 자세히보기 */
  .apply.accept_view .announcement{margin-bottom:5.22vw;}
  .apply.accept_view table{border-top:0.27vw solid #0074dd; margin-bottom:6.3vw;}
  .apply.accept_view table th,.apply.accept_view table td{padding:2.52vw 0;}
  .apply.accept_view table th{font-size:2.07vw;}
  .apply.accept_view table td{font-size:2.07vw; padding-left:1.98vw;}
  .apply.accept_view table td input{height:4.5vw; margin-right:0.81vw; font-size:2.07vw; text-indent:1.08vw;}
  .apply.accept_view table td input[type="tel"]{width:18.54vw;}
  .apply.accept_view table td input[type="email"]{width:71.46vw;}
  .apply.accept_view table td input[type="text"]{width:57.51vw;}
  .apply.accept_view table td input[type="radio"]{width:1.8vw; height:1.8vw;}
  .apply.accept_view table td label{font-size:2.07vw;}
  .apply.accept_view table td .btn_apply{font-size:1.89vw; padding:0 0.63vw; border-radius:0.45vw;}
  .apply.accept_view .btnWrap .btn_apply{margin:0 2.25vw;}
  .apply.accept_view .btnWrap .btn_apply#btn_print{margin:0 2.25vw;}

  /* 취소완료 */
  .apply.cancel .completion{padding:5.4vw 0 5.13vw; font-size:2.34vw;}

  /* 수험표 */
  .ticket{width:90vw; padding:1.53vw 2.7vw 2.7vw;}
  .ticket h1{font-size:2.25vw; line-height:4.23vw; border-bottom:0.27vw solid #58585b; padding-right:2.25vw; margin-bottom:2.7vw;}
  .ticket h1 span{font-size:1.8vw;}
  .ticket table{border-top:0.18vw solid #58585b; margin-bottom:2.25vw;}
  .ticket table th,.ticket table td{font-size:1.44vw; line-height:3.42vw;}
  .ticket table td{padding-left:1.44vw;}
  .ticket h2{height:1.8vw; border-left:0.63vw solid #58585b; padding-left:1.35vw; margin-bottom:1.35vw; font-size:1.8vw; line-height:1.8vw;}
  .ticket .content{margin-bottom:2.25vw;}
  .ticket .content ul{padding:1.08vw;}
  .ticket .content ul li{line-height:2.07vw; margin-bottom:0.27vw;}
  .ticket .content ul li p{font-size:1.53vw;}
  .ticket .content ul li span{width:1.62vw; height:1.62vw; line-height:1.8vw; margin-top:0.45vw; font-size:1.17vw; margin-right:0.36vw;}
  .ticket .content .mapImg{max-height:31.32vw;}
  .btn_apply#btn_print{width:18vw; height:4.5vw; font-size:2.07vw; line-height:4.5vw; margin:2.7vw auto 2.7vw;}

  /* popup */
  .alertPop{width:54vw; box-shadow:0.9vw 0.9vw 2.7vw rgba(0,0,0,0.2);}
  .alertPop a.btn_close{width:3.24vw; height:3.24vw; background-size:1.62vw;}
  .alertPop p.text{padding:6.3vw; font-size:2.25vw; line-height:3.51vw;}
}
