@charset "utf-8";
/* CSS Document */

/* 어그로체 */
@font-face {
    font-family: 'SBAggroM';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroM.woff') format('woff');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'SBAggroM';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroL.woff') format('woff');
    font-style: normal;
    font-weight: 200;
}

/* 조선궁서체 */
@font-face {
    font-family: 'ChosunGs';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunGs.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Noto Sans KR */
@font-face{
  font-family:NotoSansKR;
  src: url(../fonts/NotoSansKR-Light.otf) format('opentype');
  src: url(../fonts/NotoSansKR-Light.woff) format('woff'),
       url(../fonts/NotoSansKR-Light.woff2) format('woff2');
  font-weight: 200;
}
@font-face{
  font-family:NotoSansKR;
  src: url(../fonts/NotoSansKR-Medium.otf) format('opentype');
  src: url(../fonts/NotoSansKR-Medium.woff) format('woff'),
       url(../fonts/NotoSansKR-Medium.woff2) format('woff2');
  font-weight: 400;
}
@font-face{
  font-family:NotoSansKR;
  src: url(../fonts/NotoSansKR-Bold.otf) format('opentype');
  src: url(../fonts/NotoSansKR-Bold.woff) format('woff'),
       url(../fonts/NotoSansKR-Bold.woff2) format('woff2');
  font-weight: bold;
}
