@charset "euc-kr";
/* CSS Document */
@import url("font.css");

*{--font-title:SBAggroM; /*어그로체*/}
img{width:100%; vertical-align:inherit;}

/*header*/
header{width:100%; height:80px; background:#043a7b;}
header .contentBox{width:100%; height:100%; padding:0 52px; box-sizing:border-box; overflow:hidden;}
header *{line-height:80px; display:inline-block; font-family:sandoll-gothicneo3, sans-serif; color:#fff; font-size:0;}
header .leftSec{height:80px; float:left;}
header .rightSec{height:80px; float:right;}
header .date{font-size:20px; margin-right:50px;}
header h1{font-size:25px; font-weight:400;}
header h1 span{font-size:25px; font-weight:600;}
header .home{padding-left:40px; font-size:25px; background:url('../img/admin/icon_home.png') no-repeat left 23px / 30px; margin-top:-2.5px; margin-right:15px;}
header .btn_header{font-size:20px; padding:6px 13px; box-sizing:border-box; border-radius:5px; background:#e2e2e2; color:#043a7b; line-height:1; font-weight:400;}
header .autoLogout{margin-left:13px; font-size:25px; font-weight:200;}
header .autoLogout .btn_header{padding:6px 7px;}

/* lnb */
.lnb{width:260px; position:absolute; left:0;}
.lnb .logo{height:100px; background:#eaf7fd url('../img/admin/logo.png') no-repeat center / 180px;}
.lnb dl dt,.lnb dl dd{height:49px; padding-left:42px; border-bottom:1px solid #fff; box-sizing:border-box; line-height:49px; font-family:sandoll-gothicneo3, sans-serif; font-size:25px; letter-spacing:-1px;}
.lnb dl dt a,.lnb dl dd a{display:block;}
.lnb dl dt{background:#5e7bb2 url('../img/admin/element_lnb.png') no-repeat right 23px center / 17px;}
.lnb dl dt a{color:#fff;}
.lnb dl dd{background:#e2e2e2;}
.lnb dl dd:last-child{border-bottom:0;}
.lnb dl dd.on{background:#c1d6ff;}
.lnb dl dd a{color:#58585b;}
