@charset "utf-8";
/* CSS Document */

*{--font-title:SBAggroM; /*어그로체*/}

/* state 공통 */
.state{padding:40px 0 150px; box-sizing:border-box;}
.state h1{width:100%; border-bottom:3px solid #0074dd; box-sizing:border-box; font-family:var(--font-title); font-size:25px; line-height:48px; color:#0074dd; margin-bottom:45px;}
.state .announcement{width:100%; border:1px solid #c7c6c6; border-radius:10px; box-sizing:border-box; background:#f8f8f8; padding:18px 20px; font-family:sandoll-gothicneo3, sans-serif; font-size:23px; line-height:1.4; color:#0074dd; letter-spacing:-1px; margin-bottom:45px;}
.state .schedule{width:100%; border:1px solid #c7c6c6; border-radius:10px; box-sizing:border-box; background:#f8f8f8 url('../img/apply/element_apply.png') no-repeat left 12px center / 71px; padding:18px 20px 18px 100px; font-family:sandoll-gothicneo3, sans-serif; font-size:25px; line-height:1.4; color:#000; letter-spacing:-1px; margin-bottom:60px;}
.state .schedule span{font-size:23px; margin-top:12px; margin-right:26px;}
.state .schedule span strong{color:#ff334c; margin-right:16px;}
.state h2{height:24px; font-family:sandoll-gothicneo3, sans-serif; color:#000; font-weight:bold; font-size:24px; line-height:24px; margin-bottom:40px;}
.state h2::before{content:''; width:7px; height:100%; display:inline-block; margin-right:8px; background:linear-gradient(#6a7bc3, #00c9ee 26%, #82d103 55%, #ff970a 81%, #ffe200); vertical-align:middle; letter-spacing:-1px;}
.state .btn_apply{width:200px; height:50px; display:block; font-family:sandoll-gothicneo3, sans-serif; font-size:23px; background:#0074dd; color:#fff; line-height:50px; text-align:center; margin:0 auto; transition:0.6s;}
.state .btn_apply:hover{opacity:0.8;}
.state .pageCnt{font-family:sandoll-gothicneo3, sans-serif; font-size:17px; letter-spacing:-0.7px; color:#58585b; text-align:right;}
.state .pageWrap{}

/* 접수정보 */
.state.receipt{}
.state.receipt .announcement{margin-bottom:58px;}
.state.receipt table{width:100%; border-top:2px solid #58585b; box-sizing:border-box; margin-bottom:30px;}
.state.receipt table th,.state.receipt table td{font-family:sandoll-gothicneo3, sans-serif; border-bottom:1px solid #c7c6c6; border-right:1px solid #c7c6c6; box-sizing:border-box; font-size:23px;}
.state.receipt table th:last-child,.state.receipt table td:last-child{border-right:0;}
.state.receipt table th{padding:20px 0; box-sizing:border-box; color:#58585b; background:#f8f8f8; font-weight:600;}
.state.receipt table td{padding:20px 0; color:#000; text-align:center;}
.state.receipt table td .btn_apply{width:115px; height:35px; line-height:35px; border-radius:5px; font-size:21px; letter-spacing:-0.5px;}

/* 응시결과 */
.state.result{}
.state.result table{width:100%; border-top:2px solid #58585b; box-sizing:border-box; margin-bottom:30px;}
.state.result table th,.state.result table td{font-family:sandoll-gothicneo3, sans-serif; border-bottom:1px solid #c7c6c6; border-right:1px solid #c7c6c6; box-sizing:border-box; font-size:23px;}
.state.result table th:last-child,.state.result table td:last-child{border-right:0;}
.state.result table th{padding:20px 0; box-sizing:border-box; color:#58585b; background:#f8f8f8; font-weight:600;}
.state.result table td{padding:20px 0; color:#000; text-align:center;}
.state.result table td .btn_apply{width:115px; height:35px; line-height:35px; border-radius:5px; font-size:21px; letter-spacing:-0.5px;}

/* 자격인증서발급 */
.state.certificate{}
.state.certificate .document{width:100%; height:1380px; border:1px solid #707070; box-sizing:border-box; background:url('../img/state/bg_certificate.jpg') no-repeat center / contain; padding-top:134px; margin-bottom:70px;}
.state.certificate .document .docNum{font-family:sandoll-gothicneo3, sans-serif; font-size:20px; line-height:1; color:#000; text-indent:134px; margin-bottom:20px;}
.state.certificate .document h3{width:100%; height:230px; font-family:ChosunGs, serif; font-size:90px; line-height:100px; color:#000; text-align:center; display:table;}
.state.certificate .document h3 p{width:100%; height:100%; display:table-cell; vertical-align:middle;}
.state.certificate .document table{width:73.2%; margin:0 auto; text-align:left;}
.state.certificate .document table th,.state.certificate .document table td{font-family:sandoll-gothicneo3, sans-serif; font-size:25px; padding-bottom:25px; line-height:1.48; letter-spacing:-0.5px; box-sizing:border-box;}
.state.certificate .document table th{color:#58585b;}
.state.certificate .document table td{color:#000; padding-left:16px; background:url('../img/state/element_dot.png') no-repeat left 12px /3px;}
.state.certificate .document .evidence{height:376px; font-family:ChosunGs, serif; font-size:38px; line-height:1.6; color:#000; text-align:center; margin-bottom:60px; display:table;}
.state.certificate .document .evidence p{height:100%; display:table-cell; vertical-align:middle;}
.state.certificate .document .date{font-family:ChosunGs, serif; font-size:32px; line-height:1.25; text-align:center;}

@media (max-width:768px){
  /* state 공통 */
  .state{padding:3.6vw 0 13.5vw;}
  .state h1{border-bottom:0.27vw solid #0074dd; font-size:2.25vw; line-height:4.32vw; margin-bottom:4.05vw;}
  .state .announcement{border-radius:0.9vw; padding:1.62vw 1.8vw; font-size:2.07vw; margin-bottom:4.05vw;}
  .state .schedule{border-radius:0.9vw; background:#f8f8f8 url('../img/apply/element_apply.png') no-repeat left 1.08vw center / 6.39vw; padding:1.62vw 1.8vw 1.62vw 9vw; font-size:2.25vw; margin-bottom:5.4vw;}
  .state .schedule span{font-size:2.07vw; margin-top:1.08vw; margin-right:2.34vw;}
  .state .schedule span strong{margin-right:1.44vw;}
  .state h2{height:2.16vw; font-size:2.16vw; line-height:2.16vw; margin-bottom:3.6vw;}
  .state h2::before{width:0.63vw; margin-right:0.72vw;}
  .state .btn_apply{width:18vw; height:4.5vw; font-size:2.07vw; line-height:4.5vw;}
  .state .pageCnt{font-size:1.53vw;}
  .state .pageWrap{}

  /* 접수정보 */
  .state.receipt .announcement{margin-bottom:5.22vw;}
  .state.receipt table{border-top:0.18vw solid #58585b; margin-bottom:2.7vw;}
  .state.receipt table th,.state.receipt table td{font-size:2.07vw;}
  .state.receipt table th{padding:1.8vw 0;}
  .state.receipt table td{padding:1.8vw 0;}
  .state.receipt table td .btn_apply{width:10.35vw; height:3.15vw; line-height:3.15vw; border-radius:0.45vw; font-size:1.89vw;}

  /* 응시결과 */
  .state.result table{border-top:0.18vw solid #58585b; margin-bottom:2.7vw;}
  .state.result table th,.state.result table td{font-size:2.07vw;}
  .state.result table th{padding:1.8vw 0;}
  .state.result table td{padding:1.8vw 0;}
  .state.result table td .btn_apply{width:10.35vw; height:3.15vw; line-height:3.15vw; border-radius:0.45vw; font-size:1.89vw;}

  /* 자격인증서발급 */
  .state.certificate .document{padding:3.15vw; margin-bottom:6.3vw;}
  .state.certificate .document .docNum{font-size:1.8vw; line-height:2.43vw;}
  .state.certificate .document h3{height:25.92vw; font-size:7.2vw; line-height:7.92vw; margin-bottom:3.78vw;}
  .state.certificate .document table{border-top:0.18vw solid #58585b; margin-bottom:8.1vw;}
  .state.certificate .document table th,.state.certificate .document table td{font-size:2.25vw; padding:1.98vw 0;}
  .state.certificate .document table tr:last-of-type th,.state.certificate .document table tr:last-of-type td{border-bottom:0.18vw solid #58585b;}
  .state.certificate .document table td{padding-left:1.08vw;}
  .state.certificate .document .evidence{height:37.8vw; font-size:2.88vw; line-height:5.4vw; margin-bottom:2.7vw;}
  .state.certificate .document .date{font-size:2.25vw; line-height:2.25vw; margin-bottom:6.3vw;}
  .state.certificate .document .institution{font-size:3.6vw; line-height:3.6vw; margin-bottom:4.05vw;}
}
