<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yeosin.apply.ApplyDao" >
	<select id="GetApplyList" parameterType="String" resultType="com.yeosin.apply.ApplyDto">
		SELECT 	
				RECEIPTID 
			,	USERID 
			,	EXAMID 
			,	RECEIPTDATE 
			,	ISCANCEL 
			,	PAYMENTMETHOD 
			,	CARDNAME 
			,	BANKNAME 
			,	PAYMENTDATE 
			,	EXAMFEE 
			,	SALERATE 
			,	FEES 
		FROM 	YS_RECEIPT
		WHERE 	1 = 1;
   </select>
</mapper>
