<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yeosin.apply.ApplyDao" >
	<select id="GetApplyList" parameterType="String" resultType="com.yeosin.apply.ApplyDto">
		SELECT 	
				reception_num 
			,	member_idx 
			,	exam_idx 
			,	reception_date 
			,	education_certificate_num  
			,	education_process 
			,	student_code  
			,	progress  
			,	membership_id 
		FROM 	reception 
		WHERE 	1 = 1;
   </select>
</mapper>
