<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yeosin.board.BoardDao" >
 <select id="getBoardList" parameterType="com.yeosin.board.BoardDto" resultType="com.yeosin.board.BoardDto">
		SELECT 	
				BOARDID
			,	BOARDTYPE 
			,	BOARDSEQUENCE 
			,	TITLE 
			,	CONTENTS 
			,	HITCNT 
			,	USERID 
			,	DATE_FORMAT(WRITETIME, '%Y-%m-%d') AS WRITETIME 
			,	CATEGORY
			,	CATEGORYSEQUENCE 
		FROM 	YS_BOARD
		WHERE 	BOARDTYPE = #{boardType}
		<if test='searchType=="S"'>
			AND TITLE LIKE CONCAT('%',#{searchWord},'%')
		</if>
		<if test='searchType=="C"'>
			AND CONTENTS LIKE CONCAT('%',#{searchWord},'%')
		</if>
		<if test='searchType=="A"'>
			AND (TITLE LIKE CONCAT('%',#{searchWord},'%') OR CONTENTS LIKE CONCAT('%',#{searchWord},'%'))
		</if>
		<if test='category!=""'>
			AND CATEGORY = #{category}
		</if>
		ORDER BY BOARDSEQUENCE
		LIMIT #{pageStart}, #{perPageNum}
   </select>
   
   <select id="getBoardInfo" parameterType="com.yeosin.board.BoardDto" resultType="com.yeosin.board.BoardDto">
		SELECT 	
				BOARDID
			,	BOARDTYPE 
			,	BOARDSEQUENCE 
			,	TITLE 
			,	CONTENTS 
			,	HITCNT 
			,	USERID 
			,	DATE_FORMAT(WRITETIME, '%Y-%m-%d') AS WRITETIME 
			,	CATEGORY
			,	CATEGORYSEQUENCE 
		FROM 	YS_BOARD
		WHERE 	BOARDTYPE = #{boardType} 
			AND BOARDSEQUENCE = #{boardSequence}
   </select>
   
   <select id="getPreviousBoardInfo" parameterType="com.yeosin.board.BoardDto" resultType="com.yeosin.board.BoardDto">
   		SELECT 	
				BOARDID
			,	BOARDTYPE 
			,	BOARDSEQUENCE 
			,	TITLE 
			,	CONTENTS 
			,	HITCNT 
			,	USERID 
			,	DATE_FORMAT(WRITETIME, '%Y-%m-%d') AS WRITETIME 
			,	CATEGORY
			,	CATEGORYSEQUENCE 
		FROM 	YS_BOARD
		WHERE 	BOARDTYPE = #{boardType} 
			AND BOARDSEQUENCE = #{boardSequence} - 1;
   </select>
   
   <select id="getNextBoardInfo" parameterType="com.yeosin.board.BoardDto" resultType="com.yeosin.board.BoardDto">
 	  	SELECT 	
				BOARDID
			,	BOARDTYPE 
			,	BOARDSEQUENCE 
			,	TITLE 
			,	CONTENTS 
			,	HITCNT 
			,	USERID 
			,	DATE_FORMAT(WRITETIME, '%Y-%m-%d') AS WRITETIME 
			,	CATEGORY
			,	CATEGORYSEQUENCE 
		FROM 	YS_BOARD
		WHERE 	BOARDTYPE = #{boardType} 
			AND BOARDSEQUENCE = #{boardSequence} + 1;
   </select>
   
   
    <update id="UpdateHitCnt" parameterType="com.yeosin.board.BoardDto">
		UPDATE YS_BOARD SET HITCNT = HITCNT + 1 WHERE BOARDTYPE = #{boardType} AND BOARDSEQUENCE = #{boardSequence}
	</update>
	
	 <select id="getNoticeListForMain" parameterType="String" resultType="com.yeosin.board.BoardDto">
		SELECT 	
				BOARDID
			,	BOARDTYPE 
			,	BOARDSEQUENCE 
			,	TITLE 
			,	CONTENTS 
			,	HITCNT 
			,	USERID 
			,	DATE_FORMAT(WRITETIME, '%Y-%m-%d') AS WRITETIME 
			,	CATEGORY
			,	CATEGORYSEQUENCE 
		FROM 	YS_BOARD
		WHERE BOARDTYPE = '1'
		ORDER BY WRITETIME DESC
		LIMIT 5
   </select>
   
    <select id="getMaxBoardSequence" parameterType="String" resultType="int">
		SELECT 	
				MAX(BOARDSEQUENCE)
		FROM 	YS_BOARD
		WHERE BOARDTYPE = #{boardType}
   </select>
   
   <select id="getMinBoardSequence" parameterType="String" resultType="int">
   		SELECT
   			MIN(BOARDSEQUENCE)
		FROM 	YS_BOARD
		WHERE BOARDTYPE = #{boardType}
   </select>
   
   <select id="countBoardListTotal" resultType="Integer" parameterType="com.yeosin.board.BoardDto" >
       SELECT
            count(*)
        FROM
           YS_BOARD
        WHERE
            BOARDTYPE = #{boardType}
        <if test='searchType=="S"'>
			AND TITLE LIKE CONCAT('%',#{searchWord},'%')
		</if>
		<if test='searchType=="C"'>
			AND CONTENTS LIKE CONCAT('%',#{searchWord},'%')
		</if>
		<if test='searchType=="A"'>
			AND (TITLE LIKE CONCAT('%',#{searchWord},'%') OR CONTENTS LIKE CONCAT('%',#{searchWord},'%'))
		</if>
		<if test='category!=""'>
			AND CATEGORY = #{category}
		</if>
		ORDER BY BOARDSEQUENCE
	</select>
	
</mapper>
