<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yeosin.admin.BoardManageDao" >

	 <!--게시물관리 리스트-->
	 <select id="getBoardList" parameterType="com.yeosin.board.BoardDto" resultType="com.yeosin.board.BoardDto">
		SELECT 	
				BOARDID
			,	BOARDTYPE 
			,	BOARDSEQUENCE 
			,	TITLE 
			,	CONTENTS 
			,	HITCNT 
			,	USERID 
			,	DATE_FORMAT(WRITETIME, '%Y-%m-%d') AS WRITETIME 
			,	CATEGORY
			,	CATEGORYSEQUENCE 
		FROM 	YS_BOARD
		WHERE 	BOARDTYPE = #{boardType}
		ORDER BY WRITETIME DESC
		LIMIT #{pageStart}, #{perPageNum}
   </select>
   
    <!--게시물관리 총 갯수-->
   <select id="countBoardListTotal" resultType="Integer" parameterType="com.yeosin.board.BoardDto" >
       SELECT
            count(*)
        FROM
           YS_BOARD
        WHERE
            BOARDTYPE = #{boardType}
	</select>
   
   <!--게시물관리 파일 조회-->
   <select id="getFileInfo" resultType="com.yeosin.board.FileDto" parameterType="String">
	SELECT
			FILEID
		,	REALFILENAME
		, 	LOCALFILENAME
		,	FILESIZE
		,	FILEURL
		,	BOARDID
	FROM
		YS_FILE
	WHERE
		BOARDID = #{boardId}
	</select>
	
	<!--게시물관리 게시판 조회-->
	<select id="getBoardInfo" resultType="com.yeosin.board.BoardDto" parameterType="com.yeosin.board.BoardDto">
	SELECT 	
				CATEGORY
			,	TITLE 
			,	CONTENTS 
		FROM 	YS_BOARD
		WHERE 	BOARDID = #{boardId}
	</select>
	
	<!-- 게시물관리 게시판 업데이트 -->
	<update id="setBoardInfo" parameterType="com.yeosin.board.BoardDto"> 
	UPDATE YS_BOARD 
	SET 
		CATEGORY = #{category},
		TITLE = #{title},
		CONTENTS = #{contents} 
	WHERE BOARDID = #{boardId}
	</update>
	
	<!-- 게시물관리 파일 업데이트 -->
	<update id="setFileInfo" parameterType="com.yeosin.board.FileDto"> 
	UPDATE YS_FILE 
	SET 
		REALFILENAME = #{realFileName},
		LOCALFILENAME = #{localFileName},
		FILESIZE = #{fileSize},
		FileEXTSN = #{fileExtsn}
	WHERE BOARDID = #{boardId}	
	</update>
	
	<!-- Board테이블 BoardId컬럼 MaxNumber 조회 -->
	<select id="getMaxBoardId" resultType="Integer">
		SELECT 	MAX(CONVERT(REPLACE(BOARDID, 'board', ''), SIGNED)) 
		FROM 	YS_BOARD
		WHERE 	1 = 1;
	</select>
	
	<!-- File테이블 fileId컬럼 MaxNumber 조회 -->
	<select id="getMaxFileId" resultType="Integer">
		SELECT 	MAX(CONVERT(REPLACE(FILEID, 'FILE', ''), SIGNED)) 
		FROM 	YS_FILE
		WHERE 	1 = 1;
	</select>
	
	<select id="getMaxBoardSequence" resultType="Integer" parameterType="com.yeosin.board.BoardDto">
		SELECT 	MAX(BOARDSEQUENCE) 
		FROM 	YS_BOARD
		WHERE 	BOARDTYPE = #{boardType}
	</select>
	
	<!-- 게시물관리 게시판 추가하기 -->
	<insert id="insertBoardInfo" parameterType="com.yeosin.board.BoardDto">
    	INSERT INTO YS_BOARD
			(BOARDID, BOARDTYPE, BOARDSEQUENCE, TITLE, CONTENTS, HITCNT, USERID, WRITETIME, CATEGORY, CATEGORYSEQUENCE)
			VALUES(#{boardId}, #{boardType}, #{boardSequence}, #{title}, #{contents}, #{hitCnt}, #{userId}, now(), #{category}, 0);
	</insert>
	
	<!-- 게시물관리 파일 추가하기 -->
	<insert id="insertFileInfo" parameterType="com.yeosin.board.FileDto">
		INSERT INTO YS_FILE
			(FILEID, REALFILENAME, LOCALFILENAME, FILESIZE, FILEURL, BOARDID, FILEEXTSN)
			VALUES(#{fileId},#{realFileName},#{localFileName},#{fileSize}, '/resource/boardFile',#{boardId}, #{fileExtsn})
	</insert>
	
	<!-- 게시물관리 게시판 리스트 삭제하기 -->
	<delete id="deleteBoardList" parameterType="List">		
			DELETE 	
			FROM 	YS_BOARD 
			WHERE 	BOARDID IN 
			<foreach collection="list" item="boardId" index="i" open="(" separator="," close=")">
				#{boardId}		
			</foreach>
	</delete>
	
	<!-- 게시물관리 파일 리스트 삭제하기 -->
	<delete id="deleteFileList" parameterType="List">
			DELETE 	
			FROM 	YS_FILE 
			WHERE 	BOARDID IN 
			<foreach collection="list" item="boardId" index="i" open="(" separator="," close=")">
				#{boardId}		
			</foreach>
	</delete>
	
	<!-- 게시물관리 파일 삭제하기 -->
	<delete id="deleteFileInfo" parameterType="String">
		DELETE 	
		FROM 	YS_FILE
		WHERE 	BOARDID = #{boardId, jdbcType=VARCHAR};	
	</delete>
	
	<!-- 팝업 ID MaxNumber 조회 -->
	<select id="getMaxPopupId" resultType="Integer">
		SELECT 	MAX(CONVERT(REPLACE(EXAMZONEID, 'popup', ''), SIGNED)) 
		FROM 	YS_EXAMZONE
		WHERE 	1 = 1;
	</select>
	
	<!-- 새로운 팝업 등록 -->
	<insert id="setPopupSave" parameterType="map">
		INSERT INTO YS_POPUP (POPUPID, TITLE, CONTENTS, STARTDATE, ENDDATE, FILEID, LAYERLEFTPX, LAYERTOPPX, ISVISIBLE, WRITETIME) 
		VALUES (#{popupId}, #{title}, #{contents}, #{startDate}, #{endDate}, #{fileId}, #{layerLeftPx} * #{layerTopPx}, #{isVisble}, now());
	</insert>
	
	<!-- 기존 팝업 수정 -->
	<update id="setPopupModify" parameterType="map">
		UPDATE 	YS_POPUP 
		SET 	TITLE = #{title}
			,	CONTENTS = #{contents}
			, 	STARTDATE = #{startDate}
			, 	ENDDATE = #{endDate}
			,	FILEID = #{fileId}
			, 	LAYERLEFTPX = #{layerLeftPx}
			, 	LAYERTOPPX = #{layerTopPx}
			, 	ISVISIBLE = #{isVisble}
		WHERE 	POPUPID = #{popupId};
	</update>
	
	<!-- 기존 팝업 삭제 -->
	<delete id="setPopupDelete" parameterType="map">
		<foreach item="popupId" index="index" collection="popupList">			
			DELETE 	
			FROM 	YS_POPUP 
			WHERE 	POPUPID = #{popupId, jdbcType=VARCHAR};			
		</foreach>
	</delete>
	
	<!-- 팝업 파일등록여부 체크 -->
	<select id="getPopupFileInfo" parameterType="String" resultType="com.yeosin.board.FileDto">
		SELECT 	
				FILEID 
			,	REALFILENAME 
			,	LOCALFILENAME 
			,	FILESIZE 
			,	FILEURL 
			, 	BOARDID 
			,	FILEEXTSN 
		FROM 	YS_FILE
		WHERE 	1 = 1 
		AND 	FILEID = #{fileId, jdbcType=VARCHAR};
	</select>

   	<!-- 팝업 파일 추가하기 -->
	<insert id="savePopupFileInfo" parameterType="com.yeosin.board.FileDto">
		INSERT INTO YS_FILE (FILEID, REALFILENAME, LOCALFILENAME, FILESIZE, FILEURL, BOARDID, FILEEXTSN)
		VALUES(#{fileId}, #{realFileName}, #{localFileName}, #{fileSize}, '/resources/popupFile', #{boardId}, #{fileExtsn});
	</insert>
	
	<!-- 팝업 파일 수정하기 -->
	<update id="updatePopupFileInfo" parameterType="com.yeosin.board.FileDto"> 
		UPDATE	YS_FILE 
		SET 	REALFILENAME = #{realFileName, jdbcType=VARCHAR}			
			,	LOCALFILENAME = #{localFileName, jdbcType=VARCHAR}
			,	FILESIZE = #{fileSize, jdbcType=VARCHAR}
			,	FileEXTSN = #{fileExtsn, jdbcType=VARCHAR}
		WHERE 	FILEID = #{fileId, jdbcType=VARCHAR}	
	</update>
	
	<!-- 팝업 파일 삭제하기 -->
	<delete id="deletePopupFileInfo" parameterType="String">
		DELETE 	
		FROM 	YS_FILE
		WHERE 	FILEID = #{fileId, jdbcType=VARCHAR};	
	</delete>
	
	<!-- 팝업 리스트 조회하기 -->
	<select id="getPopupList" resultType="com.yeosin.board.PopupDto" parameterType="map">
	SELECT 	
				POPUPID
			,	TITLE
			,	CONTENTS
			,	STARTDATE
			,	ENDDATE
			,	FILEID
			,	LAYERLEFTPX
			,	LAYERTOPPX
			,	ISVISIBLE
			,	DATE_FORMAT(WRITETIME, '%Y-%m-%d') AS WRITETIME 
		FROM 	YS_POPUP
		ORDER BY WRITETIME DESC
	LIMIT #{pageStart}, #{perPageNum}
	</select>
	
	<!-- 팝업 리스트 총 갯수-->
	<select id="getPopupListCount" resultType="Integer" parameterType="map" >
       SELECT
            count(*)
        FROM
           YS_POPUP
	</select>
	
	<!-- 팝업 조회 -->
	<select id="getPopupInfo" resultType="com.yeosin.board.PopupDto" parameterType="com.yeosin.board.PopupDto">
		SELECT
				POPUPID
			,	TITLE
			,	CONTENTS
			,	STARTDATE
			,	ENDDATE
			,	FILEID
			,	LAYERLEFTPX
			,	LAYERTOPPX
			,	ISVISIBLE
			,	DATE_FORMAT(WRITETIME, '%Y-%m-%d') AS WRITETIME 
		FROM YS_POPUP
		WHERE POPUPID = #{popupId}
	</select>
	
	<select id="getFileInfoByFileId" resultType="com.yeosin.board.FileDto" parameterType="String">
		SELECT
			FILEID
		,	REALFILENAME
		, 	LOCALFILENAME
		,	FILESIZE
		,	FILEURL
		,	BOARDID
		,	FILEEXTSN
	FROM
		YS_FILE
	WHERE
		FILEID = #{fileId}
	</select>

    <!--Main창 출력을 위한 팝업리스트 조회-->
	<select id="getPopupListForMain" resultType="com.yeosin.board.PopupDto">
		SELECT
				POPUPID
			,	TITLE
			,	CONTENTS
			,	STARTDATE
			,	ENDDATE
			,	FILEID
			,	LAYERLEFTPX
			,	LAYERTOPPX
			,	ISVISIBLE
			,	DATE_FORMAT(WRITETIME, '%Y-%m-%d') AS WRITETIME 
		FROM YS_POPUP
		WHERE  DATE_FORMAT(NOW(), '%Y-%m-%d')  BETWEEN DATE_FORMAT(STARTDATE, '%Y-%m-%d') AND DATE_FORMAT(ENDDATE, '%Y-%m-%d')
		AND ISVISIBLE = 'Y'
		ORDER BY ENDDATE DESC
		LIMIT 3;
	</select>
</mapper>