<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yeosin.user.EduCompletionDao" >
	
	<select id="getEduCompletionInfo" parameterType="String" resultType="String">
      SELECT 
			(
				CASE
					WHEN EXISTS (
						SELECT 
							1
						FROM YS_EDUCOMPLETION EC
						WHERE EC.CERTID = #{certId}
						)
					THEN 'Y'
					ELSE 'N'
				END
			) as EXISTS_YN
		FROM DUAL
   </select>
   
	<!-- 로그인 유저의 교육증 수료여부 조회 -->
	<select id="getisUserEdu" parameterType="map" resultType="String">
		SELECT 	CASE WHEN COUNT(*) > 0 
					 THEN 'Y' 
					 ELSE 'N' END 		AS ISEDUPASS
		FROM 	YS_EDUCOMPLETION 
		WHERE 	1 = 1
		AND 	USERNAME = #{userName, jdbcType=VARCHAR}
		AND		GENDER = #{gender, jdbcType=VARCHAR}
		AND 	SUBSTRING(BIRTHDATE, 3,8) =  SUBSTRING(#{birthDate},3,8)
		AND 	CERTID = #{eduNum, jdbcType=VARCHAR}
		AND 	SUBJECT = #{subjectId, jdbcType=VARCHAR};
	</select>
	
	<!-- 로그인 유저의 교육증 수료일 1년 초과여부 조회 -->
	<select id="getIsValidCertDate" parameterType="map" resultType="String">
		SELECT 	
				CASE WHEN CONVERT(NOW(), DATE) >= DATE_ADD(CONVERT(IFNULL(CERTDATE, '1999-01-01'), DATE), INTERVAL 1 YEAR)
					 THEN 'N'
					 ELSE 'Y' END 		AS ISVALIDCERTDATE
		FROM 	YS_EDUCOMPLETION
		WHERE 	1 = 1
		AND 	USERNAME = #{userName, jdbcType=VARCHAR}
		AND		GENDER = #{gender, jdbcType=VARCHAR}
		AND 	SUBSTRING(BIRTHDATE, 3,8) =  SUBSTRING(#{birthDate},3,8)
		AND 	CERTID = #{eduNum, jdbcType=VARCHAR}
		AND 	SUBJECT = #{subjectId, jdbcType=VARCHAR}
		ORDER BY 
				CERTDATE DESC
		LIMIT 	1;
	</select>
	
	<insert id="insertEduComepletionInfo" parameterType="com.yeosin.user.EduCompletionDto">
		INSERT INTO YS_EDUCOMPLETION
			(USERID, EDUUSERID, USERNAME, BIRTHDATE, GENDER, CERTID, SUBJECT, APISYNCID)
		VALUES
			(#{userId}, #{eduUserId}, #{userName}, #{birthDate}, #{gender}, #{certId}, #{subject}, #{apiSyncId})
	</insert>
	
	<update id="updateEduComepletionInfo" parameterType="com.yeosin.user.EduCompletionDto">
		UPDATE YS_EDUCOMPLETION
		<set>
			USERNAME = #{userName},
			BIRTHDATE = #{birthDate},
			GENDER = #{gender},
			<if test="upApiSyncId !=null and upApiSyncId != ''">
				UPAPISYNCID = #{upApiSyncId}
			</if>
		</set>
		WHERE CERTID = #{certId}
	</update>
	 
	<insert id="insertAndUpdateEduComepletionInfo" parameterType="java.util.List">
    	INSERT INTO YS_EDUCOMPLETION
			(USERID, EDUUSERID, USERNAME, BIRTHDATE, GENDER, CERTID, SUBJECT, APISYNCID, CERTDATE)
		VALUES
    	<foreach collection="list" item="item" separator=" , " >
        	("${item.userId}", "${item.eduUserId}", "${item.userName}", "${item.birthDate}", "${item.gender}" , "${item.certId}", "${item.subject}", "${item.apiSyncId}", "${item.certDate}")
   	 	</foreach>
   	 	ON DUPLICATE KEY UPDATE 
   	 		USERNAME = VALUES(userName),
   	 		BIRTHDATE = VALUES(birthDate),
   	 		GENDER = VALUES(gender),
   	 		CERTDATE = VALUES(certDate),
   	 		UPAPISYNCID = VALUES(apiSyncId)
	</insert>
	
	
</mapper>
