<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yeosin.apply.ExamDao" >

	<!-- 메인화면의 최신회차의 시험일정 -->
	<select id="getExamInfoForMain" resultType="com.yeosin.apply.ExamDto">
		SELECT 	
				ME.ROWNUM
			,	ME.EXAMID
			,	ME.EXAMNAME
			,  	ME.EXAMYEAR
			, 	ME.EXAMDEGREE
			,	ME.RECEIPTSTARTDATE
			, 	ME.RECEIPTENDDATE
			,	ME.CERTPRINTSTARTDATE
			,	ME.CERTPRINTENDDATE
			, 	ME.EXAMDATE
			,	ME.GRADESTARTDATE
			,	ME.GRADEENDDATE
		FROM 
		(
			SELECT 
					@ROWNUM := @ROWNUM + 1 as rowNum
				,	E.EXAMID as examId
				,	E.EXAMNAME as examName
				,  	E.EXAMYEAR as examYear
				, 	E.EXAMDEGREE as examDegree
				,	DATE_FORMAT(E.RECEIPTSTARTDATE, '%Y/%m/%d') AS receiptstartDate
				, 	DATE_FORMAT(E.RECEIPTENDDATE, '%Y/%m/%d') AS receiptEndDate
				,	DATE_FORMAT(E.CERTPRINTSTARTDATE, '%Y/%m/%d') AS certPrintStartDate
				,	DATE_FORMAT(E.CERTPRINTENDDATE, '%Y/%m/%d') AS certPrintEndDate
				, 	DATE_FORMAT(E.EXAMDATE, '%Y/%m/%d') AS examDate
				,	DATE_FORMAT(E.GRADESTARTDATE, '%Y/%m/%d') AS gradeStartDate
				,	DATE_FORMAT(E.GRADEENDDATE, '%Y/%m/%d') AS gradeEndDate
			FROM 	YS_EXAM				E,
			(SELECT @ROWNUM := 0)		RN 
			WHERE 	1 = 1
			AND 	E.ISAPPROVAL = 'Y'
			AND 	NOW() BETWEEN DATE_ADD(E.RECEIPTSTARTDATE, INTERVAL -7 DAY) AND DATE_ADD(E.RECEIPTENDDATE, INTERVAL +7 DAY) 
			ORDER BY E.EXAMDATE DESC  
			LIMIT 2
		)	ME 
		WHERE 	1 = 1
		ORDER BY 
				-- 접수기간 +- 7일인 시험을 출력하되, 이전 시험의 합격자 공고일이 지나지 않았다면 이전 시험의 시험 데이터를 보여주기
				CASE WHEN ME.ROWNUM = 2 AND DATE_FORMAT(NOW(), '%Y/%m/%d') > ME.GRADESTARTDATE
					 THEN FIELD(ME.ROWNUM, 1, 2)
					 ELSE FIELD(ME.ROWNUM, 2, 1) END
		LIMIT 	1;
	</select>
	
	<!-- 시험 1개에 대한 정보 -->
	<select id="getExamInfo" parameterType="String" resultType="com.yeosin.apply.ExamDto">
		SELECT 
				EXAMID
			,	EXAMNAME
			,	EXAMYEAR
			,	SUBJECTID
			,	EXAMTYPE
			,	ISAPPROVAL
			,	EXAMDEGREE
			, 	DATE_FORMAT(EXAMDATE, '%Y/%m/%d') AS examDate
			,	EXAMLOCAL
			,	EXAMAREA
			,	DATE_FORMAT(RECEIPTSTARTDATE, '%Y/%m/%d') AS receiptstartDate
			, 	DATE_FORMAT(RECEIPTENDDATE, '%Y/%m/%d') AS receiptEndDate
			,	DATE_FORMAT(ALLREFUNDEXITDATE, '%Y/%m/%d') AS allRefundExitDate
			,	ISPRACTICALEXAM
			,	DATE_FORMAT(CERTPRINTSTARTDATE, '%Y/%m/%d') AS certPrintStartDate
			,	DATE_FORMAT(CERTPRINTENDDATE, '%Y/%m/%d') AS certPrintEndDate
			,	DATE_FORMAT(GRADESTARTDATE, '%Y/%m/%d') AS gradeStartDate
			,	DATE_FORMAT(GRADEENDDATE, '%Y/%m/%d') AS gradeEndDate
			,	EXAMCOST
		FROM 	YS_EXAM
		WHERE 	1 = 1
		AND 	EXAMID = #{examId} 
		ORDER BY 
				EXAMDEGREE DESC;
	</select>
	
	<!-- apply3, apply4 화면에 접수기간을 시간까지 보여주기 -->
	<select id="getExamInfo2" parameterType="String" resultType="com.yeosin.apply.ExamDto">
		SELECT 
				EXAMID
			,	EXAMNAME
			,	EXAMYEAR
			,	SUBJECTID
			,	EXAMTYPE
			,	ISAPPROVAL
			,	EXAMDEGREE
			, 	DATE_FORMAT(EXAMDATE, '%Y/%m/%d') AS examDate
			,	EXAMLOCAL
			,	EXAMAREA
			,	DATE_FORMAT(RECEIPTSTARTDATE, '%Y/%m/%d %p %h:%i') AS receiptstartDate
			, 	DATE_FORMAT(RECEIPTENDDATE, '%Y/%m/%d %p %h:%i') AS receiptEndDate
			,	DATE_FORMAT(ALLREFUNDEXITDATE, '%Y/%m/%d') AS allRefundExitDate
			,	ISPRACTICALEXAM
			,	DATE_FORMAT(CERTPRINTSTARTDATE, '%Y/%m/%d') AS certPrintStartDate
			,	DATE_FORMAT(CERTPRINTENDDATE, '%Y/%m/%d') AS certPrintEndDate
			,	DATE_FORMAT(GRADESTARTDATE, '%Y/%m/%d') AS gradeStartDate
			,	DATE_FORMAT(GRADEENDDATE, '%Y/%m/%d') AS gradeEndDate
			,	EXAMCOST
		FROM 	YS_EXAM
		WHERE 	1 = 1
		AND 	EXAMID = #{examId} 
		ORDER BY 
				EXAMDEGREE DESC;
	</select>
	
	<!-- 여러개의 시험 리스트 -->
	<select id="getExamList" resultType="com.yeosin.apply.ExamDto">
		SELECT 
				EXAMID
			,	EXAMNAME
			,	EXAMYEAR
			,	SUBJECTID
			,	EXAMTYPE
			,	ISAPPROVAL
			,	EXAMDEGREE
			, 	DATE_FORMAT(EXAMDATE, '%Y/%m/%d') AS examDate
			,	DATE_FORMAT(RECEIPTSTARTDATE, '%Y/%m/%d') AS receiptstartDate
			, 	DATE_FORMAT(RECEIPTENDDATE, '%Y/%m/%d') AS receiptEndDate
			,	DATE_FORMAT(ALLREFUNDEXITDATE, '%Y/%m/%d') AS allRefundExitDate
			,	ISPRACTICALEXAM
			,	DATE_FORMAT(CERTPRINTSTARTDATE, '%Y/%m/%d') AS certPrintStartDate
			,	DATE_FORMAT(CERTPRINTENDDATE, '%Y/%m/%d') AS certPrintEndDate
			,	DATE_FORMAT(GRADESTARTDATE, '%Y/%m/%d') AS gradeStartDate
			,	DATE_FORMAT(GRADEENDDATE, '%Y/%m/%d') AS gradeEndDate
		FROM 	YS_EXAM
		WHERE 	1 = 1
		AND 	ISAPPROVAL = 'Y'
		AND 	NOW() BETWEEN RECEIPTSTARTDATE AND RECEIPTENDDATE
		ORDER BY 
				EXAMDATE DESC
		LIMIT 	1;
	</select>
</mapper>
