<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yeosin.admin.UserManageDao" >

	<!-- 회원 유저 조회 -->
	<select id="getUserInfo" parameterType="map" resultType="com.yeosin.user.UserDto">
		SELECT 	
			 	USERID
			,
			 	CASE 
      		   		WHEN (USERSTATUS = 'U' || USERSTATUS = 'S')	THEN '활동'
      		   		WHEN USERSTATUS = 'D'	THEN '탈퇴'
      		   		WHEN USERSTATUS = 'C'	THEN '휴면'
      		  	END AS USERSTATUS
			,	GRADE 
			,	USERNAME 
			,	GENDER 
			,	DATE_FORMAT(JOINDATE, '%Y-%m-%d') AS JOINDATE 
			,	DATE_FORMAT(LASTCONNECTDATE, '%Y-%m-%d') AS LASTCONNECTDATE 
			,	DATE_FORMAT(BIRTHDATE, '%Y-%m-%d') AS BIRTHDATE 
			,	CALLNUMBER
			,	PHONENUMBER
			,	EMAILADDRESS
			, 	DATE_ADD(DATE_FORMAT(LASTCONNECTDATE, '%Y-%m-%d'), INTERVAL 1 YEAR) AS DORMANTACCOUNTDATE 
		FROM 	YS_USER U
		WHERE 	1 = 1
		<if test="searchWord != null and searchWord != ''">
				AND (USERNAME LIKE CONCAT('%', #{searchWord, jdbcType=VARCHAR},'%')
				OR USERID LIKE CONCAT('%', #{searchWord, jdbcType=VARCHAR},'%')
				OR PHONENUMBER LIKE CONCAT('%', #{searchWord, jdbcType=VARCHAR},'%')
				OR EMAILADDRESS LIKE CONCAT('%', #{searchWord, jdbcType=VARCHAR}, '%'))
		</if>
		<if test='searchEmailType=="Y"'>
			AND  ISRECEIVEEMAIL = 'Y'
		</if>
		<if test='searchEmailType=="N"'>
			AND	ISRECEIVEEMAIL = 'N'
		</if>
		<if test='searchSMSType=="Y"'>
			AND ISRECEIVESMS = 'Y'
		</if>
		<if test='searchSMSType=="N"'>
			AND ISRECEIVESMS = 'N'
		</if>
		<if test='generalUser != null and dormancyUser != null and secessionUser != null'>
			AND ( 1 = 1
 			<if test='generalUser == "N"'>
				AND USERSTATUS != 'U'
			</if>
			<if test='dormancyUser =="N"'>
				AND USERSTATUS != 'C'
			</if>
			<if test='secessionUser=="N"'>
				AND USERSTATUS != 'D'
			</if>
			)
		</if>
			AND USERSTATUS != 'S'
		LIMIT #{pageStart}, #{perPageNum};
   </select>
   
   <select id="countUserListTotal" parameterType="map" resultType="Integer">
		SELECT 	
			 count(*)
		FROM 	YS_USER U
		WHERE 	1 = 1
		<if test="searchWord != null and searchWord != ''">
				AND (USERNAME LIKE CONCAT('%', #{searchWord, jdbcType=VARCHAR},'%')
				OR USERID LIKE CONCAT('%', #{searchWord, jdbcType=VARCHAR},'%')
				OR PHONENUMBER LIKE CONCAT('%', #{searchWord, jdbcType=VARCHAR},'%')
				OR EMAILADDRESS LIKE CONCAT('%', #{searchWord, jdbcType=VARCHAR}, '%'))
		</if>
		<if test='searchEmailType=="Y"'>
			AND  ISRECEIVEEMAIL = 'Y'
		</if>
		<if test='searchEmailType=="N"'>
			AND	ISRECEIVEEMAIL = 'N'
		</if>
		<if test='searchSMSType=="Y"'>
			AND ISRECEIVESMS = 'Y'
		</if>
		<if test='searchSMSType=="N"'>
			AND ISRECEIVESMS = 'N'
		</if>
		<if test='generalUser != null and dormancyUser != null and secessionUser != null'>
			AND ( 1 = 1
 			<if test='generalUser == "N"'>
				AND USERSTATUS != 'U'
			</if>
			<if test='dormancyUser =="N"'>
				AND USERSTATUS != 'C'
			</if>
			<if test='secessionUser=="N"'>
				AND USERSTATUS != 'D'
			</if>
			)
		</if>
		AND USERSTATUS != 'S'
   </select>
   
   <insert id="insertEduCompletionHis" parameterType="com.yeosin.user.EduCompletionHisDto">
		INSERT INTO YS_EDUCOMPLETIONHIS
			(APISYNCID, APISYNCDATE, PASSSTARTDATE, PASSENDDATE, APISYNCTYPE)
		VALUES
			(#{apiSyncId}, now(), #{passStartDate}, #{passEndDate}, #{apiSyncType})
	</insert>
	
	<select id="getEduCompletionList" parameterType="map" resultType="com.yeosin.user.EduCompletionDto">
		SELECT 
				USERNAME
			,	BIRTHDATE
			,  	GENDER
			,	(SELECT SUBJECT.SUBJECTNAME FROM YS_SUBJECT SUBJECT WHERE SUBJECT.SUBJECTID = SUBJECT) 	AS SUBJECT
			,  	CERTID
			, 	APISYNCID
			, 	UPAPISYNCID
		FROM YS_EDUCOMPLETION
		WHERE 1 = 1
			<if test="apiSyncId !=null and apiSyncId != ''">
				AND (APISYNCID = #{apiSyncId} OR APISYNCID = #{apiSyncId})
			</if>
			<if test="searchWord !=null and searchWord != ''">
				AND (USERNAME LIKE CONCAT('%', #{searchWord},'%') OR CERTID LIKE CONCAT('%', #{searchWord},'%'))
			</if>
			<if test="gender !=null and gender != ''">
				AND GENDER = #{gender}
			</if>
			<if test="subject !=null and subject != ''">
				AND SUBJECT = #{subject}
			</if>
		ORDER BY USERNAME
      	LIMIT 
            	#{pageStart}, #{perPageNum};
	</select> 
	
	<select id="getEduCompletionListCount" parameterType="map" resultType="Integer">
		SELECT COUNT(*)
		FROM 	YS_EDUCOMPLETION
		WHERE 	1 = 1
			<if test="apiSyncId !=null and apiSyncId != ''">
				AND (APISYNCID = #{apiSyncId} OR APISYNCID = #{apiSyncId})
			</if>
			<if test="searchWord !=null and searchWord != ''">
				AND (USERNAME LIKE CONCAT('%', #{searchWord},'%') OR CERTID LIKE CONCAT('%', #{searchWord},'%'))
			</if>
			<if test="gender !=null and gender != ''">
				AND GENDER = #{gender}
			</if>
			<if test="subject !=null and subject != ''">
				AND SUBJECT = #{subject}
			</if>
	</select>
	
	<select id="getEduCompletionHisList" parameterType="map" resultType="com.yeosin.user.EduCompletionHisDto">
		SELECT
				APISYNCID
			,	APISYNCDATE
			,	PASSSTARTDATE
			,	PASSENDDATE 
			,	APISYNCTYPE 
		FROM 	YS_EDUCOMPLETIONHIS
		ORDER BY 
			APISYNCDATE DESC
		LIMIT 
			#{pageStart}, #{perPageNum};
	</select> 
	
	<select id="getEduCompletionHisListCount" parameterType="map" resultType="Integer">
		SELECT
				COUNT(*)
		FROM 	YS_EDUCOMPLETIONHIS;
	</select>
	
	<select id="getUserInfoByUserId" parameterType="String" resultType="com.yeosin.user.UserDto">
		SELECT 
				USERID
			,  	USERNAME
			,	BIRTHDATE 
			,	CALLNUMBER 
			,	PHONENUMBER 
			,	EMAILADDRESS 
			,	JOINDATE 
			, 	GENDER
			,	LASTCONNECTDATE 
			,	ISRECEIVEEMAIL 
			,	ISRECEIVESMS
			, 	USERSTATUS
			, 	SECESSIONDATE
		FROM YS_USER Y
		WHERE Y.USERID = #{userId}; 
	</select>
	
	<!-- 휴면계정 전환 대상 유저 리스트 -->
	<select id="getDormantAccountProcessingList" resultType="com.yeosin.user.UserDto">
	<![CDATA[
		-- 11개월간 미접속자 사용자 리스트(활동 -> 휴면전환)
		SELECT
				U.USERID
			,	U.USERNAME 
			,	U.GENDER 
			,	U.LASTCONNECTDATE 
			,	U.BIRTHDATE 
			,	U.PHONENUMBER 
			,	U.EMAILADDRESS 
			,	U.ISRECEIVEEMAIL 
			,	U.ISRECEIVESMS 
			,	U.USERSTATUS
			,	DATE_FORMAT(DATE_ADD(U.LASTCONNECTDATE, INTERVAL 11 MONTH), '%Y-%m-%d')							AS	FIRST_SCHEDULDATE	-- 1차 처리예정 안내일
			,	DATE_FORMAT(DATE_SUB(DATE_ADD(U.LASTCONNECTDATE, INTERVAL 1 YEAR), INTERVAL 1 DAY), '%Y-%m-%d')	AS	SECOND_SCHEDULDATE	-- 2차 처리예정 안내일
			,	DATE_FORMAT(DATE_ADD(U.LASTCONNECTDATE, INTERVAL 1 YEAR), '%Y-%m-%d')							AS	THIRD_SCHEDULDATE	-- 3차 처리완료 안내일
		FROM 	YS_USER			U
		WHERE 	1 = 1
		AND 	U.USERSTATUS = 'U' -- 휴면 : C / 탈퇴 : D / 활동 : U
		AND 	U.LASTCONNECTDATE < DATE_FORMAT(DATE_SUB(NOW(), INTERVAL 11 MONTH), '%Y-%m-%d');
	]]>
	</select> 
	
	<!-- 탈퇴계정 전환 대상 유저 리스트 -->
	<select id="getSecessionDateProcessingList" resultType="com.yeosin.user.UserDto">
	<![CDATA[
		-- 휴면계정인 상태로 2년 경과시(미접속 3년 경과, 휴면 -> 탈퇴전환)
		SELECT
				U.USERID
			,	U.USERNAME 
			,	U.GENDER 
			,	U.LASTCONNECTDATE 
			,	U.BIRTHDATE 
			,	U.PHONENUMBER 
			,	U.EMAILADDRESS 
			,	U.ISRECEIVEEMAIL 
			,	U.ISRECEIVESMS 
			,	U.USERSTATUS
			,	DATE_FORMAT(DATE_ADD(U.LASTCONNECTDATE, INTERVAL 35 MONTH), '%Y-%m-%d')							AS	FIRST_SCHEDULDATE	-- 1차 처리예정 안내일
			,	DATE_FORMAT(DATE_SUB(DATE_ADD(U.LASTCONNECTDATE, INTERVAL 3 YEAR), INTERVAL 1 DAY), '%Y-%m-%d')	AS	SECOND_SCHEDULDATE	-- 2차 처리예정 안내일
			,	DATE_FORMAT(DATE_ADD(U.LASTCONNECTDATE, INTERVAL 3 YEAR), '%Y-%m-%d')							AS	THIRD_SCHEDULDATE	-- 3차 처리완료 안내일
		FROM 	YS_USER			U
		WHERE 	1 = 1
		AND 	U.USERSTATUS = 'C' -- 휴면 : C / 탈퇴 : D / 활동 : U
		AND 	U.LASTCONNECTDATE < DATE_FORMAT(DATE_SUB(NOW(), INTERVAL 35 MONTH), '%Y-%m-%d');
	]]>
	</select> 
	
</mapper>