<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yeosin.user.UserDao" >
	<resultMap id="UserResultMap" type="com.yeosin.user.UserDto" >
		<id column="USERID" property="userId" jdbcType="VARCHAR" />
		<result column="USERNAME" property="password" jdbcType="VARCHAR" />
		<result column="PASSWORD" property="userName" jdbcType="CHAR" />
		<result column="ISPRIVACY" property="grade" jdbcType="VARCHAR" />
		<result column="ENGUSERNAMEFIRST" property="gender" jdbcType="TIMESTAMP" />
		<result column="ENGUSERNAMELAST" property="joinDate" jdbcType="VARCHAR" />
		<result column="TELNUMBER" property="lastConnectDate" jdbcType="VARCHAR" />
		<result column="PHONENUMBER" property="birthDate" jdbcType="VARCHAR" />
		<result column="EMAIL" property="callNumber" jdbcType="VARCHAR" />
		<result column="DESCRIPTION" property="phoneNumber" jdbcType="VARCHAR" />
		<result column="CREATETIME" property="emailAddress" jdbcType="VARCHAR" />
		<result column="TESTNUMBER" property="isReceiveEmail" jdbcType="VARCHAR" />
		<result column="BIRTHDAY" property="isReceiveSms" jdbcType="VARCHAR" />
		<association property="eduCompletionDto" javaType="com.yeosin.user.EduCompletionDto">
			<id column="CERTID" property="certId" jdbcType="VARCHAR" />
		</association>
	</resultMap>
	<select id="getLoginUser" parameterType="String" resultType="String">
      SELECT 
			(
				CASE
					WHEN EXISTS (
						SELECT 
							1
						FROM YS_USER USER
						WHERE USER.USERID = #{userId}
						AND USERSTATUS != 'D'
						)
					THEN 'Y'
					ELSE 'N'
				END
			) as EXISTS_YN
		FROM DUAL
   </select>
   
   <select id="getLoginUserInfo" parameterType="com.yeosin.user.UserDto" resultType="com.yeosin.user.UserDto">
		SELECT 
      		  USERID
			, USERNAME
			, BIRTHDATE 
			, GENDER 
			, CALLNUMBER
			, PHONENUMBER
			, EMAILADDRESS
			, ISRECEIVEEMAIL
			, ISRECEIVESMS
			, USERSTATUS
		FROM 
			YS_USER 
		WHERE 
			USERID = #{userId}
			<if test="password !=null">
				AND PASSWORD = #{password}
			</if>
			AND USERSTATUS != 'D'
   </select>
   
   <insert id="insertUserInfo" parameterType="com.yeosin.user.UserDto">
		INSERT INTO YS_USER 
			(USERID, PASSWORD, USERNAME, GRADE, GENDER, JOINDATE, LASTCONNECTDATE,BIRTHDATE
			, CALLNUMBER, PHONENUMBER, EMAILADDRESS, ISRECEIVEEMAIL, ISRECEIVESMS, USERSTATUS, DICODE, CICODE) 
			VALUES 
			(#{userId}, #{password}, #{userName}, #{grade}, #{gender}, now(), #{lastConnectDate}, 
			#{birthDate}, #{callNumber}, #{phoneNumber}, #{emailAddress}, #{isReceiveEmail}, #{isReceiveSms}, #{userStatus}, #{diCode}, #{ciCode})
	</insert>
	
	<select id="getLoginUserInfo1" parameterType="com.yeosin.user.UserDto" resultMap="UserResultMap">
		SELECT 
      		  A.USERID
			, A.USERNAME
			, A.CALLNUMBER
			, A.PHONENUMBER
			, A.EMAILADDRESS
			, A.ISRECEIVEEMAIL
			, A.ISRECEIVESMS
			, B.CERTID
		FROM 
			YS_USER A, YS_EDUCOMPLETION B
			WHERE  
			A.USERID = B.USERID AND
			
			A.USERID =  #{userId}
   </select>
   
   <update id="updateUserInfo" parameterType="com.yeosin.user.UserDto">
		UPDATE YS_USER
		<set>
			<if test="password !=null and password != ''">
				PASSWORD = #{password},
			</if>
			<if test="gender != null and gender != ''">
				GENDER = #{gender},
			</if>
			CALLNUMBER = #{callNumber},
			PHONENUMBER = #{phoneNumber},
			EMAILADDRESS = #{emailAddress},
			ISRECEIVEEMAIL = #{isReceiveEmail},
			ISRECEIVESMS = #{isReceiveSms},
			MODIFYDATE = now()
			<if test="userStatus != null and userStatus != ''">
				USERSTATUS = #{userStatus},
			</if>
		</set>
		WHERE USERID = #{userId}
	</update>
	
	<update id="withdrawUser" parameterType="string">
		UPDATE YS_USER
		<set>
			USERSTATUS = 'D'
		</set>
		WHERE USERID = #{userId}
	</update>
	
	<!-- 아이디 찾기 기능 -->	
	<select id="findUserId" parameterType="com.yeosin.user.UserDto" resultType="String">
		SELECT
			USERID	 
		FROM 
			YS_USER
		WHERE
				USERNAME = #{userName}
			AND GENDER = #{gender}
			AND BIRTHDATE = #{birthDate}
	</select>
	
	<update id="updateUserPassword" parameterType="com.yeosin.user.UserDto">
		UPDATE YS_USER
		SET PASSWORD = #{password}
		WHERE USERID = #{userId}
	</update>
	
	<select id="getUserByCIDI" parameterType="com.yeosin.user.UserDto" resultType="String">
      SELECT 
			(
				CASE
					WHEN EXISTS (
						SELECT 
							1
						FROM YS_USER USER
						WHERE USER.CICODE = #{ciCode}
							AND USER.DICODE = #{diCode}
							AND USERSTATUS != 'D'
						)
					THEN 'Y'
					ELSE 'N'
				END
			) as EXISTS_YN
		FROM DUAL
   </select>
</mapper>
